@font-face {
  font-family: "montserrat";
  src: url("Montserrat-Black.otf")
}

@font-face {
  font-family: "sebneuenews";
  src: url("SebneueNews-0Xo9.otf")
}

body {
  margin: 0;
  font-family: "sebneuenews";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
